params {
    genome = "hg38"
    genome_style = 'UCSC'
    normal_panel = "/path/to/ctDNA_PoN_median.rds"
    outdir = "results"
    readcounter_path = "/path/to/readCounter"
    readcounter_chrs = "chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX"
    readcounter_binsize = 500000
    readcounter_quality = 20
    ichorcna_script = "/path/to/ichorCNA/scripts/runIchorCNA.R"
    ichorcna_libdir = "/path/to/ichorCNA/"
    bam_size_select = "/path/to/bam_size_select.py"
    gcwig = "/path/to/ichorCNA/extdata/gc_hg38_500kb.wig"
    mapwig = "/path/to/ichorCNA/extdata/map_hg38_500kb.wig"
    centromere = "/path/to/ichorCNA/extdata/GRCh38.GCA_000001405.2_centromere_acen.txt"
    chrs_to_use="paste0('chr', c(1:22))"
    chrs_to_train="paste0('chr', c(1:22))"
    estimate_normal="TRUE"
    fraction_reads_male=0.002
    min_map_score=0.75
    max_frac_genome_subclone=0.5
    max_frac_cna_subclone=0.7
    max_cn=6
    include_homd="FALSE"
    txe=0.9999
    tx_strength=10000
    plotfiletype="pdf"
    plotylim="c(-2,4)"
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = "YOUR_SCHEDULER"
        process.cache = "lenient"
        process.queue = "YOUR_QUEUE"
        process.memory = "32G"
        process.scratch = "/scratch"
        env.PATH = "PATH_DEFINITION_IF_ANY"
    }
}
